{% extends "base_generic.html" %}

{% block content %}
  <h1>About</h1>
  <p>
    This project is assignment that was provided in Web Application Development class.
  </p>  
  <h3>About Joseph</h3>
  <p>
    Hi! My name is Joseph. I'm a software developer.
  </p>
  <p>My Research interests are Data Science, Machine Learning</p>
  <p>Currently I'm a student at <a href="https://en.nankai.edu.cn">Nankai University</a> taking Software Engineering Masters program</p>
  <h5>Social</h5>
  <ul>
    <li><a href="https://twitter.com/thejmtinangi">Twitter</a></li>
    <li><a href="https://github.com/josephmtinangi">Github</a></li>
  </ul>
{% endblock %}
