{% extends "base_generic.html" %}

{% block content %}
  <div class="mt-4 p-5 bg-light rounded">
      <h1>DVD Movie Rentals</h1>
      <p>
        Welcome to Movie DVD Rentals, a website developed by
        <em>Joseph Peter Mtinangi</em>!
      </p>
  </div>
  <h2>Summary</h2>
  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Movies:</strong> {{ num_books }}</li>
    <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Directors:</strong> {{ num_authors }}</li>
  </ul>

  <p>
    You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}
  </p>
{% endblock %}
