{% extends "base_generic.html" %}

{% block content %}
	<h1>Title: {{ movie.title }}</h1>

	<p><strong>Director:</strong> <a href="">{{ movie.director }}</a></p>
	<p><strong>Genre:</strong> {{ movie.display_genre }}</p>
	<p><strong>Summary:</strong> {{ movie.summary }}</p>
	<p><strong>Year:</strong> {{ movie.year }}</p>
	<p><strong>Language:</strong> {{ movie.language }}</p>

	<h4>Copies</h4>

	{% for copy in movie.rental_set.all %}
		<hr>
		<p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
		{% if copy.status != 'a' %}
			<p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
		{% endif %}
		<p><strong>Imprint:</strong> {{ copy.imprint }}</p>
		<p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
	{% endfor %}
{% endblock %}
