{% extends "base_generic.html" %}

{% block content %}
	<h1>Movie List</h1>
	{% if movie_list %}

		<div class="row">
			{% for movie in movie_list %}
					{% if forloop.counter|divisibleby:4 %}
					<div class="col-sm-3">
						<div class="card shadow-lg">
						  <div class="card-body">
						    <h5 class="card-title">{{ movie.title }}</h5>
						    <h6 class="card-subtitle mb-2 text-muted">{{ movie.year }} &middot; {{ movie.language }} &middot; {{ movie.display_genre }}</h6>
						    <p class="card-text text-truncate">{{ movie.summary }}</p>
						    <a href="{{ movie.get_absolute_url }}" class="card-link">More</a>
						  </div>
						</div>
					</div><br>	
					</div>
					{% if not forloop.last %}
					<br>
				    <div class="row">
				    {% endif %}
				    {% else %}
					<div class="col-sm-3">
						<div class="card shadow-lg">
						  <div class="card-body">
						    <h5 class="card-title">{{ movie.title }}</h5>
						    <h6 class="card-subtitle mb-2 text-muted">{{ movie.year }} &middot; {{ movie.language }}</h6>
						    <p class="card-text text-truncate">{{ movie.summary }}</p>
						    <a href="{{ movie.get_absolute_url }}" class="card-link">More</a>
						  </div>
						</div>
					</div><br>
				    {% endif %}							
			{% endfor %}
		</div>
	{% else %}
		<p>
			There are no movies in the library.
		</p>
	{% endif %}
{% endblock %}
